* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Adicionando uma fonte padrão */
}

.container-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: 20px auto; /* Centralizando o formulário */
    color: #0C407A;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #0C407A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.tab-button.active {
    background-color: #093066;
}

.tab-button:hover {
    background-color: #093066;
}

.form-container {
    display: none;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 90px);
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0C407A;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #093066;
}

/* Estilizando o select da turma */
select#turma-aluno {
    width: 100%;  
    padding: 10px;  
    margin-bottom: 10px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    font-size: 16px;  
    background-color: #fff;  
    color: #333;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}

select#turma-aluno:focus {
    outline: none;  
    border-color: #007bff;  
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
}

select#turma-aluno option[value=""] {
    color: #888;  
}

/* Estilos para os três tracinhos (somente mobile) */
.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    body {
        padding: 0 0px; /* Adicionando algum espaçamento lateral no corpo */
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        cursor: pointer;
        font-size: 24px;
    }

    .menu-toggle span {
        font-size: 30px;
    }

    /* Sidebar escondida no mobile até que o menu seja aberto */
    .sidebar {
        display: none;
    }

    .sidebar.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 100;
        background-color: #f0f0f0;
    }

    .form-group {
        flex-direction: column; /* Mudando para coluna em telas menores */
        align-items: flex-start; /* Alinhando itens à esquerda */
    }

    .form-group label {
        margin-bottom: 5px; /* Margem inferior para labels */
    }

    .form-group input {
        width: 100%; /* Fazendo inputs ocuparem toda a largura */
    }

    button[type="submit"] {
        padding: 15px; /* Aumentando o padding do botão */
        font-size: 18px; /* Aumentando o tamanho da fonte do botão */
    }
}

/* Sidebar sempre visível no PC */
@media (min-width: 769px) {
    .sidebar {
        display: block;
    }

    .container-form {
        margin: 40px auto; /* Mais margem em telas grandes */
    }
}
