.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100px;
    margin: 5px;
}

h1 {
    text-align: center;
    color: white;
}

/* Estilos gerais para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Para bordas arredondadas */
}

/* Estilo para as células do cabeçalho */
thead th {
  background-color: #004080;
  color: white;
  padding: 12px 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* Estilo para as células do corpo da tabela */
tbody td {
  padding: 12px 15px;
  color: #333;
}

/* Zebra striping (linhas alternadas com cor) */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Borda nas células da tabela */
tbody tr {
  border-bottom: 1px solid #ddd;
}

/* Efeito hover nas linhas da tabela */
tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Estilização geral para os botões */
button {
  background-color: #3498db; /* Cor de fundo inicial */
  color: white; /* Cor do texto */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s; /* Animação suave */
}

/* Cor ao passar o mouse sobre o botão */
button:hover {
  background-color: #2285c7; /* Cor de fundo ao passar o mouse */
}
/* Alinhamento central das ações */
td:last-child {
  text-align: center;
}

/* Coluna de ações (botões) */
td button {
  margin: 5px;
}
